@model IEnumerable<PartyPlannerPro.Models.VendorCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Vendor Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            @if (item.CategoryImage != null)

            {
                <td>
                    @{
                        var base64 = Convert.ToBase64String(item.CategoryImage);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }

                    <img class="userImg" src="@imgSrc" style="height : 100px; "/>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
