@model PartyPlannerPro.Models.Customer

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Customer Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <div>
            <hr />
            <h6>My Events</h6>
            <hr />
            <div id="event-list">
                @*Loop through all of the events for this customer that have not occurred yet*@
                <ul class="list-unstyled">
                    @foreach (var Events in Model.Events)

                        if (Events.EventDate > DateTime.Now)
                        {
                    <li>
                        <a asp-controller="Events" asp-action="Details" asp-route-id="@Events.Id"> @Html.DisplayFor(model => Events.EventName)</a>
                    </li>
                        }
                </ul>
            </div>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
