@model IEnumerable<PartyPlannerPro.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<p>
    <a asp-action="Create">Create New</a>

   | <a asp-action="Reports">See Customer Reports</a>
</p>



<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card m-3">
                <div class="card-body">
                    <h5>Customer</h5>
                    <p>
                        @Html.DisplayFor(modelItem => item.FirstName)                  
                   
                        @Html.DisplayFor(modelItem => item.LastName)
                    </p>
                    <h6>@Html.DisplayNameFor(model => model.Email)</h6>
                    <p>
                        @Html.DisplayFor(modelItem => item.Email)
                    </p>
                    <h6>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </h6>
                    <p>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </p>
                   
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                   
                </div>
            </div>
        }
    </div>
</div>   
