@model IEnumerable<PartyPlannerPro.Models.Venue>

@{
    ViewData["Title"] = "Index";
}

<h1>Venues</h1>

<p>
    <a asp-action="Create">Create New</a>
    | <a asp-controller = "Events" asp-action="Reports">See Venue Reports</a>

</p>
<div id="search-form" class="form-group">
    <form asp-action="Index" class="form-inline">
        <input id="search-form" class="form-control mr-sm-2" input name="citySearch" type="search" placeholder="Search By City" aria-label="Search">

        <button id="search-btn" class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
<div id="search-form" class="form-group">
    <form asp-action="Index" class="form-inline">
        <input id="search-form" class="form-control mr-md-2" input name="guests" type="search" placeholder="Search Number of Guests" aria-label="Search">

        <button id="search-btn" class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        { <div class="card" style="width: 18rem;">
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" class="card-img-top" alt="venue">
                <div class="card-body">
                    <h5>
                        @Html.DisplayFor(modelItem => item.VenueName)
                    </h5>
                    <h6>
                        @Html.DisplayNameFor(modelItem => item.ContactPerson)
                    </h6>
                    <p>
                        @Html.DisplayFor(modelItem => item.ContactPerson)
                    </p>
                    <h6>
                        @Html.DisplayNameFor(modelItem => item.PhoneNumber)
                    </h6>
                    <p>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </p>
                    <h6>
                        @Html.DisplayNameFor(modelItem => item.StreetAddress)
                    </h6>
                    <p>
                        @Html.DisplayFor(modelItem => item.StreetAddress)
                    </p>
                    <h6>
                        @Html.DisplayNameFor(modelItem => item.City)
                    </h6>
                    <p>
                        @Html.DisplayFor(modelItem => item.City)
                    </p>
                    <h6>
                        @Html.DisplayNameFor(modelItem => item.State)
                    </h6>
                    <p>
                        @Html.DisplayFor(modelItem => item.State)
                    </p>
                    <h6>
                        @Html.DisplayNameFor(modelItem => item.MaxCapacity)
                    </h6>
                    <p>
                        @Html.DisplayFor(modelItem => item.MaxCapacity)
                    </p>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </div>
            </div>
        }

       </div>
    </div>



        
         
                    