@model PartyPlannerPro.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Event Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGuests)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalGuests)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue.VenueName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venue.VenueName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventVendors)
        </dt>
        <ul class="list-unstyled">
            @foreach (EventVendor EventVendors in Model.EventVendors)
            {
                <li>
                    @Html.DisplayFor(model => EventVendors.Vendor.VendorName)
                </li>
            }
        </ul>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    | <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
  <a asp-action="Index">Back to List</a>
</div>
